- semantic_form_for @user do |f| 
  = f.error_messages
  - f.inputs do
    = f.input :ident, :label => "Login", :input_html => {:size => 20}
    = f.input :username, :label => "Nom"
    = f.input :lastname, :label => "Prenom", :required => false
    = f.input :email
    = f.input :password, :required => false
    = f.input :password_confirmation, :required => false
  - f.buttons do
    = f.commit_button